/* Designed by Cajes */

body
{
	background: url('../images/bgstone.png') repeat-x #F9F9F9;
    border-top: 2px solid #fff;
}

@media only screen and (min-width: 768px)
{
    body
    {
      background: url(../images/photobg.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
}


img
{
    max-width: 100%;
}

#wrapper
{
    width:100%;
    height:auto;
    padding:0;
    margin:0;
}


#logo
{
    width:230px;
    height:90px;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width : 768px) {
    #logo
    {
        width:230px;
        height:90px;
        margin-top:30px;
        margin-left: 10%;
        margin-right: none;
    }
}

#context
{
    background: #ffffff;
    width:80%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1%;
    padding: 1em;
}

@media only screen and (min-width : 768px) {
    #context
    {
        background: rgba(255,255,255,0.8);
        width:80%;
        margin-left:auto;
        margin-right:auto;
        padding: 1em;
    }
}


#context h1
{
    font-family: "Open Sans", sans-serif;
    font-size:1.3em;
    color: #333333;
    text-align: center;
}

#context p
{
    font-family: "Open Sans Light", sans-serif;
    font-size:1em;
    color: #000000;
    margin-top:10px;
    margin-bottom:20px;
    text-align: center;
    line-height: 1.4;
}

input[type=text],select, input[type=url], input[type=email], input[type=password], input[type=tel] {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
  margin-bottom:8px;
}

@media only screen and (min-width : 768px) {
    input[type=text],select, input[type=url], input[type=email], input[type=password], input[type=tel] {
      -webkit-appearance: none; -moz-appearance: none;
      display: block;
      margin: 0;
      width: 100%; height: 40px;
      line-height: 40px; font-size: 17px;
      border: 1px solid #bbb;
      margin-bottom:10px;
      background-color: transparent;
    }
}

input[type=submit] {
 -webkit-appearance: none; -moz-appearance: none;
 display: block;
 margin: 1.5em 0;
 font-size: 1em; line-height: 2.5em;
 color: #333;
 font-weight: bold;
 height: 2.5em; width: 100%;
 background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
 border: 1px solid #bbb;
}